.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #0E164A;
    color: #fff;
    flex-wrap: wrap;
    max-height: 20%;
    width: 100%;
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
}

.footer .logo {
    height: 100px;
    padding: 0;
    gap: 20px;
}

.footer .contact-info {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
}

.footer .social-icons {
    display: flex;
    gap: 50px;
}

.footer .icon {
    height: 50px;
}

.footer .rights {
    font-size: 0.7em;
}

@media (max-width: 768px) {
    /* Apply the mobile-specific footer styles here */
    .footer {
        flex-direction: column;
        padding: 20px;
    }

    .footer .logo {
        height: 100px;
        margin-bottom: 20px;
    }

    .footer .contact-info {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .footer .social-icons {
        gap: 30px;
        margin-bottom: 20px;
    }

    .footer .icon {
        height: 50px;
    }

    .footer .rights {
        font-size: 0.7em;
    }
}