/* Ensure the body and the root container take up the full height */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

/* App container to fill the full height */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes up the full viewport height */
}

/* Make the main content grow to take up any remaining space */
.main-content {
    flex-grow: 1; /* Ensures the content takes the remaining space */
}
