/* Ensure the body and the root container take up the full height */
html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes up the full viewport height */
}

/* This ensures the main content grows to fill the available space */
.main-content {
    flex: 1; /* Flex-grow ensures the content takes the remaining space */
}

/* Footer styling remains as it was */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #0E164A;
    color: #fff;
    flex-wrap: wrap;
    max-height: 20%;
    width: 100%; /* Ensure the footer spans the full width */
    position: relative;
}
